* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  background-color: #23374d;
}
/* NAVBAR SECTION */
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 1px 3px 7px rgba(27, 27, 27, 0.5);
  background-color: #1089ff;
  border-radius: 0 0 20px 20px;
}
.left-head {
  text-transform: uppercase;
  padding-left: 100px;
  color: #fff;
}
.right-head {
  margin-right: 50px;
}
.right-head ul li {
  display: inline-block;
}
.right-head li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.3s;
}
.right-head li a:hover {
  color: #14274e;
  text-decoration: underline 3px #fff;
}
.humb {
  display: none;
}
/* NAVBAR SECTION END */
/* HOME SECTION */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 10px;
  padding: 120px;
}
.right-home h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 9px;
}
.right-home h2 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #1089ff;
}
.right-home p {
  font-size: 13px;
  margin-bottom: 5px;
}
.right-home input {
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #1089ff;
  border-style: none;
  margin-top: 20px;
  box-shadow: (-8px 8px 10px rgb(59, 106, 177, 0.4));
  transition: 0.1s;
}
.right-home input:hover {
  background-color: #4ea1f5;
}
.left-home {
  filter: drop-shadow(-8px 8px 10px rgb(59, 106, 177, 0.4));
}
/* HOME SECTION END */
/* ABOUT SECTION */
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #15cda8;
  padding: 120px;
  background: rgb(35, 55, 77);
  background: linear-gradient(
    185deg,
    rgb(35, 55, 77) 15%,
    rgba(15, 136, 138, 1) 70%
  );
}
.left-about {
  filter: drop-shadow(-8px 5px 8px #14cea9);
}
.right-about {
  width: 50%;
}
.right-about h1 {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 10px;
}
.right-about h3 {
  color: #a6e7e1;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.right-about p {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.right-about h5 {
  margin-left: 400px;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 17px;
  color: #151e2e;
}
.icons {
  display: flex;
  margin-left: 400px;
  align-items: center;
}
.icons a {
  margin-right: 15px;
}
/* ABOUT SECTION END */
/* PROJECTS SECTION */
.project {
  margin: auto;
  text-align: center;
  padding: 120px;
  background: rgb(17, 70, 143);
  background: linear-gradient(
    187deg,
    rgba(15, 136, 138, 1) 10%,
    rgba(17, 70, 143, 1) 70%
  );
}
.project-head {
  padding-top: 70px;
}
.project-head h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #162636;
}
.project-head h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 9px;
  color: #f7f6f2;
}
.project-head p {
  margin-bottom: 10px;
  color: #162636;
}
.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-content div {
  justify-content: center;
  margin: 20px;
  flex: 1;
}
.project-content div h4 {
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 20px;
  text-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
}
.project-content a img {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  transition: 0.3s;
}
.project-content a img:hover {
  filter: brightness(50%);
  transform: scale(0.9);
}
/* PROJECTS SECTION END */
/* CONTACT SECTION  */
.contact {
  display: flex;
  padding: 145px;
  justify-content: space-around;
  align-items: center;
  background: rgb(17, 70, 143);
  background: linear-gradient(
    187deg,
    rgba(17, 70, 143, 1) 26%,
    rgba(71, 114, 135, 1) 70%
  );
}
.head-contact {
  color: #76ead7;
}
.head-contact h1 {
  font-size: 60px;
  text-transform: uppercase;
}
.head-contact h3 {
  font-size: 30px;
  text-transform: capitalize;
  color: #fff;
  text-align: end;
}
.head-contact p {
  font-size: 15px;
}
.body-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.body-contact ul li {
  display: flex;
  align-items: center;
  list-style: none;
}
.body-contact a {
  margin-right: 10px;
  margin-top: 10px;
}
/* CONTACT SECTION  END*/
/* FOOTER SECTION  */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  text-transform: capitalize;
  background: linear-gradient(
    180deg,
    rgba(71, 114, 135, 1) 20%,
    rgba(17, 70, 143, 1) 70%
  );
}
.address h2 {
  color: #000;
  padding-bottom: 7px;
}
.address h5 {
  color: #fff;
  padding-bottom: 3px;
}
.career h2 {
  color: #000;
  padding-bottom: 7px;
}
.career ul li {
  padding-bottom: 3px;
}
.career li a {
  text-decoration: none;
  color: #fff;
}
/* FOOTER SECTION END */
/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .humb {
    display: block;
  }
}
